@import "tailwindcss";

:root {
  --background: #f7f6f2;
  --foreground: #3b3b3b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: "Cormorant Garamond", Georgia, serif;
  --font-subtitle: "Libre Caslon Text", Georgia, serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Libre Caslon Text", Georgia, serif;
}

html {
  scroll-behavior: smooth;
}
